body{
    display: flex;
    flex-direction: row;

}

.container
{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100vw;


}
.SignInContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
width: 60%;
}

#SignInForm{
   /* display: flex;
    justify-self: center; */
    max-width: 90%;
  

    & button{
        display: flex;
        justify-self: center;
    }
    & h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 40px;
        justify-self: center;
        font-style: italic;
    }

    & input {
        display: block;
       
        justify-self: center;
        align-self: center;
        max-width: 100%;
        height: 40px;
        font-size: 24px;
        padding-left: 25px;

        margin-bottom: 25px;

        &::placeholder{
            font-size: 20px;
            opacity: 0.7;
        }

    }
}




.CreateAccount{
    flex-direction: column;
    width: 40%;
    height: 100vh;
    background-color: #818589;
    transition: 300ms ease;
    color: white;
    justify-items: center;
    align-items: center;
    border-left: 2px solid white;
    padding-top: 15%;

    & button{
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 25px;
        border:2px solid transparent;

        &:hover {
            background-color: white;
            color: #0c63e7;
            border:2px solid var(--button-bg-color)
        }

    }

    & h1{
        font-size: 3em;
        font-style: italic;
    }

    & #DropDownCreate{
        justify-items: center;
        align-items: center;
        text-align: center;
        display: none;
        margin-top: 5%;
        width: 400px;
        transition: var(--o-transition-duration);
        & input{
           /* margin: 0 auto;
            display: block; */
            margin-bottom: 25px;
            height: 35px;
            width: 75%;
            font-size: 24px;
            padding-left: 25px;
            /* width: 25%; */

            &::placeholder{
                font-size: 20px;
            }


        }
    }
}

.CreateAccount:hover{
    width: 60%;
    transition: 300ms ease;
}

